<h2 mat-dialog-title class="title" align="center">Como evitar</h2>
<mat-dialog-content class="back" >

  <p class="na">Tomar os devidos cuidados com falhas na segurança ao fazer uso de Data Centers podem ser mais práticos, porém, acaba sendo mais difícil de se obter o diagnóstico de primeira.</p>
  <p class="na">Verificar sempre se os cabos estão devidamente conectados, fazendo uma manutenção nos servidores e roteadores. A posição do roteador pode influenciar na distribuição do sinal, por isso, é recomendado que seja colocado sempre na região central. Caso observe que o roteador não está dando conta na disponibilidade do sinal, então deve-se investir em modelos melhores com mais qualidade. Esta é uma das possibilidades para se pensar quando o problema não está atrelado a rede. Atentar as marcas pois algumas não são viáveis. Por isso é recomendável atualizar e substituir o modelo atual que esteja ultrapassado, por um modelo moderno.</p>
  <p class="na">Mapear quais dispositivos estão conectados em determinadas redes e analisar se realmente precisam do acesso e quanto cada máquina irá receber de conexão para evitar a sobrecarga. Estabelecer políticas de uso de internet na organização para limitar a conexão de acordo com a demanda de cada departamento. Para evitar retrabalho e perdas nos negócios, deve-se ter um link de backup na ausência do anterior. Limpar os navegadores pode ajudar em casos de conexão lenta por parte do navegador. Sempre atualizar Firewall e antivírus para garantir a segurança da máquina e dos ativos. Em relação a fatores climáticos e fenômenos da natureza, as empresas precisam fazer planos de ação pensando em um plano B, caso possam ser afetados. Como fazer backups.</p>

         
    

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close class="bt">Fechar</button>
</mat-dialog-actions>