<h2 mat-dialog-title class="title" align="center">Consequências</h2>
<mat-dialog-content class="back" >

  <p class="na">Esses problemas muitas vezes acabam causando impactos negativos na organização pelo desvio da qualidade da prestação de serviços,  deixando os clientes muitas vezes insatisfeitos, acarretando atrasos nas entregas, gerando retrabalho e resultando em perda de tempo e lucro.</p>
  <p class="na">Cometer deslizes na segurança dos ativos pode dar brechas para os hackers. Caso eles encontrem falhas nas configurações de um roteador, terão acesso aos dados e senhas de todos os aparelhos que estejam conectados, além de toda a rede Wifi.</p>
  <p class="na">Ainda falando em segurança, alguns tipos de vírus podem trazer danos no tráfego da rede.</p>

         
    

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close class="bt">Fechar</button>
</mat-dialog-actions>