.back{
    background-color: white;
    font-size: xx-large;
}
.bt{
    color: rgb(165, 43, 43);
    background-color: white;
    width: 30%;
    height: 30px;
}
.title{
    color: white;
}
.na{
    font-size: x-large;
    text-align: justify;
}