<app-header></app-header>

<div class="main-banner-3 normal-bg" style="background-image: url('https://tcc1sumare.blob.core.windows.net/tcc/background.png');">
    <div class="transform-center">
        <div class="main-slider-3">

            <div class="slide-item">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="banner-text">
                                <ul class="custom-flex list-text">
                                    <li class="text-custom-white fw-600 fs-20">Segurança</li>
                                    <li class="text-custom-white fw-600 fs-20">Planejamento</li>
                                    <li class="text-custom-white fw-600 fs-20">Desenvolvimento</li>
                                </ul>
                                <h1 class="fw-600 text-custom-white heading-title">Prospere com nossas dicas de segurança</h1>
                                <a (click)="ScrollIntoView('#info')" class="theme-btn btn-red mr-3" >Como se proteger? <i class="fal fa-plus"></i></a>
                                <a (click)="ScrollIntoView('#contact')" class="theme-btn btn-border">Entre em contato <i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="slide-item">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="banner-text">
                                <ul class="custom-flex list-text">
                                    <li class="text-custom-white fw-600 fs-20">Segurança</li>
                                    <li class="text-custom-white fw-600 fs-20">Planejamento</li>
                                    <li class="text-custom-white fw-600 fs-20">Desenvolvimento</li>
                                </ul>
                                <h1 class="fw-600 text-custom-white heading-title">Obtenha o melhor para sua empresa e seus clientes</h1>
                                <a (click)="ScrollIntoView('#info')" class="theme-btn btn-red mr-3" >Como se proteger? <i class="fal fa-plus"></i></a>
                                <a (click)="ScrollIntoView('#contact')" class="theme-btn btn-border">Entre em contato<i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide-item">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="banner-text">
                                <ul class="custom-flex list-text">
                                    <li class="text-custom-white fw-600 fs-20">Segurança</li>
                                    <li class="text-custom-white fw-600 fs-20">Planejamento</li>
                                    <li class="text-custom-white fw-600 fs-20">Desenvolvimento</li>
                                </ul>
                                <h1 class="fw-600 text-custom-white heading-title">Fique sempre informado sobre segurança de seus dados</h1>
                                <a (click)="ScrollIntoView('#info')" class="theme-btn btn-red mr-3" >Como se proteger? <i class="fal fa-plus"></i></a>
                                <a (click)="ScrollIntoView('#contact')" class="theme-btn btn-border">Entre em contato<i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-padding clients style-2 bg-light count-section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="brand-slider row">
                    <div class="slide-item col-12">
                            <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-02.jpg" class="image-fit" alt="">
                    </div>
                    <div class="slide-item col-12">
                            <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-09.jpg" class="image-fit" alt="">
                    </div>
                    <div class="slide-item col-12">
                            <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-10.jpg" class="image-fit" alt="">
                    </div>
                    <div class="slide-item col-12">
                            <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-11.jpg" class="image-fit" alt="">
                    </div>
                    <div class="slide-item col-12">
                            <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-12.jpg" class="image-fit" alt="">
                    </div>
                    <div class="slide-item col-12">
                            <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-13.jpg" class="image-fit" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section-padding aboutus-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-header left-heading">
                    <div class="section-heading">
                        <h6 class="text-red mb-xl-10 sub-heading" id="company"><span>Sobre nós</span></h6>
                        <h3 class="fw-700 title">Nossos valores centrais e nossa equipe incrível<span class="text-red">.</span></h3>
                        <p class="desc fw-500">Nós da Data Storm temos como objetivo trazer a melhor consultoria para você e sua empresa, lhe entregando dicas e noticias sobre segurança da informação.</p>
                    </div>
                </div>
                <ul class="custom about-list">
                    <li>
                        <span>
                            <i class="fal fa-check"></i>
                        </span>
                        <div class="content">
                            <h5 class="fw-600"><a href="#">Nossos objetivos</a></h5>
                            <p class="fw-500">
                            </p>
                                <ul>
                                    <li>Oferecer opções para que seja utilizada a agilidade integrada a segurança da informação</li>
                                    <li>Incentivar o estudo da comunicação e melhora na área.</li>
                                    <li>Incentivar boas práticas para com o uso, manuseio de informações.</li>
                                    <li>Ser referência em estudo para nossos futuros usuários.</li>
                                </ul>  
                        </div>
                    </li>
                    <li>
                        <span>
                            <i class="fal fa-check"></i>
                        </span>
                        <div class="content">
                            <h5 class="fw-600"><a href="#">Equipe de especialistas</a></h5>
                            <p class="fw-500">Nós contamos com uma equipe formada pelos melhores consultores de segurança, que realmente buscam entender o seu problema e encontrar soluções personalizadas para você.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="right-side p-relative">
                    <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-03.jpg" class="image-fit" alt="">
                    <div class="about-counter">
                        <div>
                            <span class="count">10</span><span class="text-custom-white">+</span>
                            <p class="no-margin fs-12 text-custom-white">Anos de experiencia</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-padding growth-sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-header left-heading pb-0 mb-md-40">
                    <div class="section-heading">
                        <h6 class="text-red mb-xl-10 sub-heading"><span>Resultados</span></h6>
                        <h3 class="fw-700 title">Veja nosso volume de clientes atendidos<span class="text-red">.</span></h3>
                        <p class="desc">Nos últimos meses nosso volume de clientes vem aumentando cada vez mais, devido ao nosso empenho em tornar suas empresas cada vez mais seguras, de forma eficaz e eficiente. Buscamos inovar na forma de atendimento, oferecendo todo suporte e comprometimento para solucionar problemas, 
                            acreditamos que nossa forma diferenciada de serviço é o real motivo para o aumento da confiança no trabalho de toda a equipe envolvida.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="bar-chart" class="full-height"></div>
                <ul class="custom-flex chart-label">
                    <li>
                        <span></span>
                        Outros
                    </li>
                    <li>
                        <span></span>
                        Nossa empresa
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="section-padding bg-light">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h6 class="text-red mb-xl-10 sub-heading" id="info"><span>Informações</span></h6>
                <h3 class="fw-700 title">Qual a utilidade de segurança da informação na Tecnologia?<span class="text-red">.</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="custom-tabs">
                    <ul class="custom-flex nav nav-tabs row">
                        <li class="nav-item col-lg-2 col-sm-4 col-6">
                            <a href="#oq" class="nav-link" data-toggle="tab">
                                <span class="fw-500">O que é segurança da informação?</span>
                            </a>
                        </li>
                        <li class="nav-item col-lg-2 col-sm-4 col-6">
                            <a href="#pilar" class="nav-link active" data-toggle="tab">
                                <span class="fw-500">Pilares da segurançada informação</span>
                            </a>
                        </li>
                        <li class="nav-item col-lg-2 col-sm-4 col-6">
                            <a href="#confiabilidade" class="nav-link" data-toggle="tab">
                                <span class="fw-500">A Confiabilidade</span>
                            </a>
                        </li>
                        <li class="nav-item col-lg-2 col-sm-4 col-6">
                            <a href="#integridade" class="nav-link" data-toggle="tab">
                                <span class="fw-500">A Integridade</span>
                            </a>
                        </li>
                        <li class="nav-item col-lg-2 col-sm-4 col-6">
                            <a href="#disponibilidade" class="nav-link" data-toggle="tab">
                                <span class="fw-500">A Disponibilidade</span>
                            </a>
                        </li>
                        <li class="nav-item col-lg-2 col-sm-4 col-6">
                            <a href="#autenticidade" class="nav-link" data-toggle="tab">
                                <span class="fw-500">A Autenticidade</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="oq">
                            <div class="tab-inner">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-04.jpg" class="image-fit" alt="">
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="right-side">
                                            <p class="double-lines fw-500 text-red mb-1"><span>O que é?</span></p>
                                            <h3 class="fw-600">O que é segurança da informação?</h3>
                                            <p class="fw-500"> A proteção de dados é essencial dentro de qualquer empresa, que buscam constantemente mecanismos e ferramentas para manter a integridade de seus dados e de seus clientes, protegidos de possíveis ataques cibernéticos e várias maneiras de fraudes, que podem ser evitadas dentro do tema segurança da informação.
                                                Por isso segurança da informação e utilizar formas de defesa de maneira que seja possível manter seguro os seus dados, e ao mesmo tempo manter o acesso a eles por pessoas autorizadas de forma segura e eficiente garantindo a manutenção e integridade da informação guardada de forma que gere confiabilidade. Este o grande pilar da segurança da informação é manter a confidencialidade, a integridade, a disponibilidade e a autenticidade dos dados armazenados.
                                                </p>
                                            <i class="flaticon-receipt"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade active show" id="pilar">
                            <div class="tab-inner">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <img src="https://tcc1sumare.blob.core.windows.net/tcc/pilares.jpg" class="image-fit" alt="">
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="right-side">
                                            <p class="double-lines fw-500 text-red mb-1"><span>Pilares</span></p>
                                            <h3 class="fw-600">Confidencialidade, integridade e disponibilidade: os três pilares da segurança da informação</h3>
                                            <p class="fw-500">A segurança da informação é um dos temas mais importantes dentro das organizações em função do grande número de ataques virtuais orquestrados por cibercriminosos no mundo todo. Devido a isso, esse tópico se tornou um objetivo constante não só das equipes de TI, como das próprias organizações. Contudo, para que ele possa ser reforçado nas empresas, é preciso atenção aos três pilares que sustentam a segurança em TI: confidencialidade, integridade e disponibilidade.
                                                Cada um desses itens tem vital importância para os processos de proteção de dados, sendo essenciais em qualquer política interna de Tecnologia da Informação voltada a garantir que os processos internos fluam corretamente.</p>
                                        
                                            <i class="flaticon-stats"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="confiabilidade">
                            <div class="tab-inner">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <img src="https://tcc1sumare.blob.core.windows.net/tcc/confiabilidade.jpg" class="image-fit" alt="">
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="right-side">
                                            <p class="double-lines fw-500 text-red mb-1"><span>Confiabilidade</span></p>
                                            <h3 class="fw-600">Confiabilidade</h3>
                                            <p class="fw-500">Tem a responsabilidade de manter e garantir que os dados estejam disponíveis com acesso permitido só por pessoas autorizadas e para isto são usados pilares de controles de acesso por meios de diversas formas como senhas, criptografia etc.... Impedindo que pessoa não autorizada tenha acesso a informações guardadas.</p>
                                        
                                            <i class="flaticon-credit"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="integridade">
                            <div class="tab-inner">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <img src="https://tcc1sumare.blob.core.windows.net/tcc/integridade.jpg" class="image-fit" alt="">
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="right-side">
                                            <p class="double-lines fw-500 text-red mb-1"><span>Integridade </span></p>
                                            <h3 class="fw-600">Integridade </h3>
                                            <p class="fw-500">A integridade visa garantir a preservação das informações de forma que elas estejam íntegras e confiáveis para que possam acessá-las. Por isso é necessário que sejam estabelecidos mecanismos que impeçam a alteração ou exclusão de dados por pessoas não autorizadas. </p>
                                            <i class="flaticon-payment-method"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="disponibilidade">
                            <div class="tab-inner">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <img src="https://tcc1sumare.blob.core.windows.net/tcc/disponibilidade.jpg" class="image-fit" alt="">
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="right-side">
                                            <p class="double-lines fw-500 text-red mb-1"><span>Disponibilidade</span></p>
                                            <h3 class="fw-600">Disponibilidade</h3>
                                            <p class="fw-500">Um sistema de informação relacionado a segurança da informação para ser viável e útil e necessário garantir acesso aos dados de forma segura e rápida, mantendo disponíveis as informações quando requeridas quando necessárias e ao mesmo tempo eliminando falhas no software evitando acessos indesejados. </p>
                                            <i class="flaticon-suitcase"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="autenticidade">
                            <div class="tab-inner">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <img src="https://tcc1sumare.blob.core.windows.net/tcc/autenticidade.jpg" class="image-fit" alt="">
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="right-side">
                                            <p class="double-lines fw-500 text-red mb-1"><span>Autenticidade</span></p>
                                            <h3 class="fw-600">Autenticidade</h3>
                                            <p class="fw-500">Tem como objetivo impedir acessos indesejados às informações guardadas, este pilar é responsável por validar a autorização do usuário ao sistema e as suas informações. A autenticidade não é um pilar que diz respeito somente aos sistemas de informação, mas a todo o processo que envolva pessoas, comunicação, equipamentos de hardware e qualquer atividade relacionada ao uso de Tecnologia da Informação dentro da vida de uma empresa.</p>
                                            
                                            <i class="flaticon-presentation"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding" id="hack">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-header left-heading">
                    <div class="section-heading">
                        <h6 class="text-red mb-xl-10 sub-heading"><span>Evite problemas</span></h6>
                        <h3 class="fw-700 title">Problemas com a segurança na comunicação lenta (causas, consequências e como evitar)<span class="text-red">.</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-lg-right mb-xl-30">
                <a (click)="ScrollIntoView('#contact')" class="theme-btn btn-red">Entre em contato, para uma solução personalizada</a>
            </div>
        </div>
        <div class="row">
            <div>
                <h5 class="fw-600 no-margin" align="justify">Atualmente é indispensável o uso da internet em empresas e negócios. Todos os processos dependem da boa qualidade da conectividade, ou seja, se a conexão for lenta, resultará em prejuízos. Bancos quando se deparam com lentidão no sistema enfrentam grandes filas e clientes nervosos pela demora no atendimento. Mesmo com todo planejamento em relação aos incidentes, ainda há a probabilidade de ocorrer problemas na comunicação.</h5>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="choose-us-box mb-md-30">
                    <div class="top-sec">
                        <div class="icon">
                            <i class="flaticon-statistics text-red"></i>
                        </div>
                        <h4 class="fw-600 no-margin">Causas</h4>
                    </div>
                    <p class="fw-500 mb-xl-10">Atualmente é indispensável o uso da internet em empresas e negócios. Todos os processos dependem da boa qualidade da conectividade, ou seja, se a...</p>
                    <button mat-button (click)="openDialog2()">Leia mais</button> <i class="fas fa-long-arrow-right text-red"></i>
                    <i class="flaticon-statistics bg-icon"></i>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="choose-us-box mb-md-30">
                    <div class="top-sec">
                        <div class="icon">
                            <i class="flaticon-market text-red"></i>
                        </div>
                        <h4 class="fw-600 no-margin">Consequências</h4>
                    </div>
                    <p class="fw-500 mb-xl-10">Esses problemas muitas vezes acabam causando impactos negativos na organização pelo desvio da qualidade da prestação de serviços... </p>
                    <button mat-button (click)="openDialog()">Leia mais</button> <i class="fas fa-long-arrow-right text-red"></i>
                    <i class="flaticon-market bg-icon"></i>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="choose-us-box">
                    <div class="top-sec">
                        <div class="icon">
                            <i class="flaticon-investment text-red"></i>
                        </div>
                        <h4 class="fw-600 no-margin">Como evitar</h4>
                    </div>
                    <p class="fw-500 mb-xl-10">Tomar os devidos cuidados com falhas na segurança ao fazer uso de Data Centers podem ser mais práticos, porém, acaba sendo... </p>
                    <button mat-button (click)="openDialog3()">Leia mais</button> <i class="fas fa-long-arrow-right text-red"></i>
                    <i class="flaticon-investment bg-icon"></i>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light section-padding faqs-style-2" id="studyCase">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-7">
                <div class="images-box mb-md-80">
                    <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-05.jpg" class="image-fit image-1" alt="">
                    <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-06.jpg" class="image-fit image-2" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-5">
                <div class="left-side">
                    <div class="section-header left-heading">
                        <div class="section-heading">
                            <h6 class="text-red mb-xl-10 sub-heading"><span>Estudos de caso</span></h6>
                            <h3 class="fw-700 title">Agilidade estratégica para segurança e serviços de TI<span class="text-red">.</span></h3>
                        </div>
                    </div>
                    <div id="accordion" class="custom-faqs style-2">
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
                                    Estudo de caso I
                                    <span>
                                        <i class="fal fa-arrow-down"></i>
                                    </span>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    A empresa Nordic Ltda, possui diversos servidores usando Debian servidor utilizado para armazenar os arquivos em um servidor local, e outros servidores com Windows Server 2010 para rodar a aplicação do Customer Relationship Management (CRM), em português, Gestão de Relacionamento com o Cliente. Todos os funcionários têm senha de acesso porém não há hierarquia no acesso, sendo assim todos podem acessar os mesmos arquivos.  
                                    Para acessar a internet todos os funcionários podem acessar em qualquer máquina, porém só é possível através da rede da empresa.
                                    A empresa não possui uma área específica para suporte técnico, sendo assim a empresa utiliza alguns funcionários de outras áreas que possuem algum conhecimento para realizar o suporte quando necessário, porém ao profissional sair de sua área acaba ocorrendo algum atraso na entrega de sua função anterior.
                               <p></p>
                                    <p>Problemas</p>
                                    <ul>
                                        <li>Falta de segurança dos arquivos</li>
                                        <li>Segurança da rede da empresa</li>
                                        <li>Sem suporte técnico fixo</li>
                                        <li>Servidor local pode ter problemas físicos ou até climáticos perdendo dados.</li>
                                        <li>Hierarquia de acesso</li>
                                    </ul>
                                    <p></p>
                                <p>Solução</p>
                                <ul>
                                    <li>Contratação de um Data Center para armazenar arquivos na nuvem</li>
                                    <li>Segurança de rede através de um antivírus como por exemplo: Avira</li>
                                    <li>Contratação de uma equipe de suporte técnico</li>
                                    <li>Separar os níveis de acesso</li>
                                </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                    Estudo de caso II
                                    <span>
                                        <i class="fal fa-arrow-down"></i>
                                    </span>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    Visão geral da Empresa A CMAA – Companhia Mineira de Açúcar e Álcool LTDA instalou-se no Triângulo Mineiro em 2006, e desde 2009 é uma sociedade de participações (holding) de capital aberto, com registro na CVM - Comissão de Valores Mobiliários. Por meio de unidades controladas do ramo sucroalcooleiro (usinas), utiliza a cana-de-açúcar como matéria prima para a produção de etanol, açúcar e cogeração de energia elétrica.
                                    Quanto à administração da infraestrutura de TI tem-se:  Para a administração de rede, usam os serviços do Windows Server 2003;
                                    <p></p>
                                    <p>•	Para controle de conteúdo, acesso a internet, comunicação com terceiros</p>
                                    <p>•	Com segurança de acesso usa o Fortigate;</p>
                                    <p>•	Para backup e recover usa o software DataProtector;</p>
                                    <p>•	Para serviços de e-mail usa o Exchange 2010;</p>
                                    <p>•	Para serviços de antivírus utiliza a Trend Micro.</p>
                                    <p>•	O gerenciamento de chamados para a TI é feito verbalmente ou através de e-mail dos colaboradores do departamento.</p>

                                    O que deixa a gestão complexa pela: dificuldade de controle dos serviços pendentes e realizados; dificuldade de rastrear todas as mensagens relativas ao chamado; falta de controle sobre os responsáveis e tempo de atendimento. 
                                    <p></p>
                                    <p>Problemas</p>
                                    <ul>
                                        <li>Falta de controle quanto aos atendimentos de TI.</li>
                                        <li>Dificuldade de controle de chamados.</li>
                                        <li>Falta de responsável pela área de TI.</li>
                                        <li>Software antigo.</li>
                                    </ul>
                                    <p></p>
                                <p>Solução</p>
                                <ul>
                                    <li>Atualizar o software para um mais atual, configurando o ambiente para alta disponibilidade e estrutura segura para acesso a internet.</li>
                                    <li>Migrar os sistemas de aplicativos para ERP’s.</li>
                                    <li>Denominar um responsável por abrir e acompanhar os chamados.</li>
                                
                                </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                    Estudo de caso III
                                    <span>
                                        <i class="fal fa-arrow-down"></i>
                                    </span>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    A empresa EasyDoc, do ramo de desenvolvimento mobile para construção civil, possui um servidor Windows Server 2016, utilizado para rodar a aplicação ERP (Enterprise Resource Planning) da empresa. Este servidor possui um antivírus de entrada, pouco usado no mercado.
                                    Cada colaborador tem seu login e senha de acesso à aplicação ERP, mas não há nenhuma restrição de acesso ou ação com base no cargo ou setor do usuário.
                                    A empresa possui 23 estações de trabalho Windows, a versão do Windows pode variar de máquina para máquina.
                                    É utilizado a metodologia de restrição de acesso à web reversa na empresa, na qual o usuário só consegue acessar sites que estão em uma whitelist, e todo o resto é bloqueado.
                                    O contato entre colaboradores da empresa é feito por e-mail.
                                    
                                    <p></p>
                                    <p>Problemas</p>
                                    <ul>
                                        <li>Servidor no qual roda a aplicação de gestão da empresa, onde contém contratos e dados pessoais de clientes e empresas, não possui um antivírus confiável.</li>
                                        <li>Colaboradores de diferentes cargos e setores possuem as mesmas permissões de acesso e manuseio no ERP da empresa, tornando mais provável uma obtenção de dados sigilosos através de uma invasão ou por um colaborador mal-intencionado.</li>
                                        <li>Estações de trabalho com sistema operacional antigo e que não recebe mais atualizações de segurança com frequênci.</li>
                                        <li>Restrições de acesso através de whitelist afetam a agilidade, pois na maioria das vezes, uma simples busca na web poderia resolver o problema ou dúvida que o colaborador esteja no momento.</li>
                                        <li>Utilizar e-mail para contato interno diminui a agilidade e coloca em risco a segurança, pois abre mais possibilidades para ataques usando engenharia social.</li>
                                    </ul>
                                    <p></p>
                                <p>Solução</p>
                                <ul>
                                    <li>Utilizar um bom antivírus no servidor da aplicação ERP</li>
                                    <li>Realizar restrições de acesso e ação no ERP com base na função, cargo e departamento do colaborador</li>
                                    <li>Manter todas as máquinas atualizadas com a última versão do Sistema Operacional.</li>
                                    <li>Realizar as restrições de acesso por blacklist, bloqueando apenas sites que podem diminuir a produtividade do colaborador ou que podem apresentar algum tipo de risco.</li>
                                    <li>Utilizar uma plataforma online para contato interno, como Microsoft Teams, Slack, etc.</li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding-bottom slider-gallery-sec style-2 p-relative">
    <div class="container-fluid no-padding">
        <div class="row">
            <div class="col-12">
                <div class="slider-gallery row arrow-layout">
                    <div class="col-12 slide-item">
                        <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-07.jpg" class="image-fit" alt="">
                    </div>
                    <div class="col-12 slide-item">
                        <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-14.jpg" class="image-fit" alt="">
                    </div>
                    <div class="col-12 slide-item">
                        <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-15.jpg" class="image-fit" alt="">
                    </div>
                    <div class="col-12 slide-item">
                        <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-14.jpg" class="image-fit" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding bg-light" id="news">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h6 class="text-red mb-xl-10 sub-heading"><span>Notícias</span></h6>
                <h3 class="fw-700 title">Notícias para você<span class="text-red">.</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="blog-slider row">
                    <div class="col-lg-12 slide-item">
                        <div class="blog-style-1 style-2">
                            <div class="post-img animate-img">
                                <a routerLink='/news-detail'>
                                    <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-16.jpg" class="image-fit" alt="">
                                </a>
                            </div>
                            <div class="post-date">
                                <span class="date">28</span>
                                <span class="month">Agosto</span>
                            </div>
                            <div class="post-content">
                                <div class="post-category">
                                    <p class="double-lines text-red fw-600 mb-1"><span><a href="#" class="text-red">Dicas</a></span></p>
                                </div>
                                <h2 class="post-title"><a routerLink='/news-detail'>Aprenda a manter a segurança de dados da sua empresa</a></h2>
                                <ul class="custom-flex post-meta">
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-user text-red"></i>
                                            Algar Telecon
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-calendar-alt text-red"></i>
                                            28 de Agosto de 2020
                                        </a>
                                    </li>
                                </ul>
                            </div>
                           
                            <div class="post-overlay normal-bg" style="background-image: url('assets/images/home-16.jpg');">
                                <div class="post-overlay-meta">
                                    <div class="post-category">
                                        <p class="double-lines text-custom-white fw-600 mb-1"><span><a href="#" class="text-custom-white">Dicas de Segurança</a></span></p>
                                    </div>
                                    <h2 class="post-title"><a href="https://blog.algartelecom.com.br/tecnologia/aprenda-a-manter-a-seguranca-de-dados-da-sua-empresa/" class="text-custom-white">Veja a matéria completa</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 slide-item">
                        <div class="blog-style-1 style-2">
                            <div class="post-img animate-img">
                                <a routerLink='/news-detail'>
                                    <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-08.jpg" class="image-fit" alt="">
                                </a>
                            </div>
                            <div class="post-date">
                                <span class="date">18</span>
                                <span class="month">Novembro</span>
                            </div>
                            <div class="post-content">
                                <div class="post-category">
                                    <p class="double-lines text-red fw-600 mb-1"><span><a href="#" class="text-red">Segurança do dia a dia</a></span></p>
                                </div>
                                <h2 class="post-title"><a>Comerciantes com operações online relatam aumentos nas tentativas de fraude</a></h2>
                                <ul class="custom-flex post-meta">
                                    <li>
                                        <a>
                                            <i class="fal fa-user text-red"></i>
                                            Redação Security Report
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fal fa-calendar-alt text-red"></i>
                                            03 de Dezembro de 2021
                                        </a>
                                    </li>
                                </ul>
                            </div>
                           
                            <div class="post-overlay normal-bg" style="background-image: url('assets/images/home-08.jpg');">
                                <div class="post-overlay-meta">
                                    <div class="post-category">
                                        <p class="double-lines text-custom-white fw-600 mb-1"><span><a href="#" class="text-custom-white">Segurança do dia a dia</a></span></p>
                                    </div>
                                    <h2 class="post-title"><a href="https://www.securityreport.com.br/destaques/comerciantes-com-operacoes-online-relatam-aumentos-nas-tentativas-de-fraude/#.YazaaYhKiiM" class="text-custom-white">Estudo global da Visa, incluindo entrevistados do Brasil, aponta que phishing e roubo de identidade são os mais comuns.</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 slide-item">
                        <div class="blog-style-1 style-2">
                            <div class="post-img animate-img">
                                <a routerLink='/news-detail'>
                                    <img src="https://tcc1sumare.blob.core.windows.net/tcc/home-17.jpg" class="image-fit" alt="">
                                </a>
                            </div>
                            <div class="post-date">
                                <span class="date">2</span>
                                <span class="month">Dezembro</span>
                            </div>
                            <div class="post-content">
                                <div class="post-category">
                                    <p class="double-lines text-red fw-600 mb-1"><span><a href="#" class="text-red">Alertas</a></span></p>
                                </div>
                                <h2 class="post-title"><a routerLink='/news-detail'>Fake News e cibersegurança: as mentiras que são verdadeiras ameaças para os negócios</a></h2>
                                <ul class="custom-flex post-meta">
                                    <li>
                                        <a>
                                            <i class="fal fa-user text-red"></i>
                                            Cléber Ribas, CEO da Blockbit 
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fal fa-calendar-alt text-red"></i>
                                            02 de Dezembro de 2021
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="post-overlay normal-bg" style="background-image: url('assets/images/home-17.jpg');">
                                <div class="post-overlay-meta">
                                    <div class="post-category">
                                        <p class="double-lines text-custom-white fw-600 mb-1"><span><a href="#" class="text-custom-white">Alertas</a></span></p>
                                    </div>
                                    <h2 class="post-title"><a href="https://cryptoid.com.br/ciberseguranca-seguranca-da-informacao/fake-news-e-ciberseguranca-as-mentiras-que-sao-verdadeiras-ameacas-para-os-negocios/" class="text-custom-white">Fique atento já! Veja o conteúdo completo.</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="contact">
<app-contact></app-contact>
</div>
<app-footer></app-footer>