<app-header></app-header>

<div class="main-banner-3 normal-bg" style="background-image: url('assets/images/home_Prancheta 1.jpg');">
    <div class="transform-center">
        <div class="main-slider-3">

            <div class="slide-item">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="banner-text">
                                <ul class="custom-flex list-text">
                                    <li class="text-custom-white fw-600 fs-20">Finanças</li>
                                    <li class="text-custom-white fw-600 fs-20">Planejamento</li>
                                    <li class="text-custom-white fw-600 fs-20">Crescimento</li>
                                </ul>
                                <h1 class="fw-600 text-custom-white heading-title">Prospere com nossas dicas de segurança</h1>
                                <a routerLink='/service-1' class="theme-btn btn-red mr-3">Como se proteger? <i class="fal fa-plus"></i></a>
                                <a href="#" class="theme-btn btn-border">Leia mais <i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="slide-item">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="banner-text">
                                <ul class="custom-flex list-text">
                                    <li class="text-custom-white fw-600 fs-20">Finanças</li>
                                    <li class="text-custom-white fw-600 fs-20">Planejamento</li>
                                    <li class="text-custom-white fw-600 fs-20">Crescimento</li>
                                </ul>
                                <h1 class="fw-600 text-custom-white heading-title">Prospere com nossas dicas de segurança</h1>
                                <a routerLink='/service-1' class="theme-btn btn-red mr-3">Como se proteger? <i class="fal fa-plus"></i></a>
                                <a href="#" class="theme-btn btn-border">Leia mais <i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide-item">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="banner-text">
                                <ul class="custom-flex list-text">
                                    <li class="text-custom-white fw-600 fs-20">Finanças</li>
                                    <li class="text-custom-white fw-600 fs-20">Planejamento</li>
                                    <li class="text-custom-white fw-600 fs-20">Crescimento</li>
                                </ul>
                                <h1 class="fw-600 text-custom-white heading-title">Prospere com nossas dicas de segurança</h1>
                                <a routerLink='/service-1' class="theme-btn btn-red mr-3">Como se proteger? <i class="fal fa-plus"></i></a>
                                <a href="#" class="theme-btn btn-border">Leia mais <i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-padding clients style-2 bg-light count-section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="brand-slider row">
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/home-02.jpg" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/home-09.jpg" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/home-10.jpg" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/home-11.jpg" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/home-12.jpg" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/home-13.jpg" class="image-fit" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section-padding aboutus-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-header left-heading">
                    <div class="section-heading">
                        <h6 class="text-red mb-xl-10 sub-heading"><span>Sobre nós</span></h6>
                        <h3 class="fw-700 title">Nossos valores centrais e nossa equipe incrível<span class="text-red">.</span></h3>
                        <p class="desc fw-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam.</p>
                    </div>
                </div>
                <ul class="custom about-list">
                    <li>
                        <span>
                            <i class="fal fa-check"></i>
                        </span>
                        <div class="content">
                            <h5 class="fw-600"><a href="#">Missão e Valor</a></h5>
                            <p class="fw-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </li>
                    <li>
                        <span>
                            <i class="fal fa-check"></i>
                        </span>
                        <div class="content">
                            <h5 class="fw-600"><a href="#">Equipe de especialistas</a></h5>
                            <p class="fw-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="right-side p-relative">
                    <img src="assets/images/home-03.jpg" class="image-fit" alt="">
                    <div class="about-counter">
                        <div>
                            <span class="count">10</span><span class="text-custom-white">+</span>
                            <p class="no-margin fs-12 text-custom-white">Anos de experiencia</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding bg-light">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h6 class="text-red mb-xl-10 sub-heading"><span>Serviços</span></h6>
                <h3 class="fw-700 title">What kind solution we provide here<span class="text-red">.</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="custom-tabs">
                    <ul class="custom-flex nav nav-tabs row">
                        <li class="nav-item col-lg-2 col-sm-4 col-6">
                            <a href="#vattax" class="nav-link" data-toggle="tab">
                                <i class="flaticon-receipt"></i>
                                <span class="fw-500">Impostos</span>
                            </a>
                        </li>
                        <li class="nav-item col-lg-2 col-sm-4 col-6">
                            <a href="#finance" class="nav-link active" data-toggle="tab">
                                <i class="flaticon-stats"></i>
                                <span class="fw-500">Finanças</span>
                            </a>
                        </li>
                        <li class="nav-item col-lg-2 col-sm-4 col-6">
                            <a href="#homeloan" class="nav-link" data-toggle="tab">
                                <i class="flaticon-credit"></i>
                                <span class="fw-500">Segurança local</span>
                            </a>
                        </li>
                        <li class="nav-item col-lg-2 col-sm-4 col-6">
                            <a href="#banking" class="nav-link" data-toggle="tab">
                                <i class="flaticon-payment-method"></i>
                                <span class="fw-500">Pagamentos</span>
                            </a>
                        </li>
                        <li class="nav-item col-lg-2 col-sm-4 col-6">
                            <a href="#jobfeed" class="nav-link" data-toggle="tab">
                                <i class="flaticon-suitcase"></i>
                                <span class="fw-500">Empresas</span>
                            </a>
                        </li>
                        <li class="nav-item col-lg-2 col-sm-4 col-6">
                            <a href="#counsultancy" class="nav-link" data-toggle="tab">
                                <i class="flaticon-presentation"></i>
                                <span class="fw-500">Consultoria</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="vattax">
                            <div class="tab-inner">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <img src="assets/images/home-04.jpg" class="image-fit" alt="">
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="right-side">
                                            <p class="double-lines fw-500 text-red mb-1"><span>Impostos</span></p>
                                            <h3 class="fw-600"><a href="#">Brain Storm é uma empresa de segurança de TI, precisa de suporte e consultoria, chama nóis. (vou tirar isso, kkk)</a></h3>
                                            <p class="fw-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                                            <a routerLink='/project-detail' class="theme-btn btn-red">Cases de sucesso</a>
                                            <i class="flaticon-receipt"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade active show" id="finance">
                            <div class="tab-inner">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <img src="assets/images/home-04.jpg" class="image-fit" alt="">
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="right-side">
                                            <p class="double-lines fw-500 text-red mb-1"><span>Finanças</span></p>
                                            <h3 class="fw-600"><a href="#">Brain Storm é uma empresa de segurança de TI, precisa de suporte e consultoria, chama nóis. (vou tirar isso, kkk)</a></h3>
                                            <p class="fw-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                                            <a routerLink='/project-detail' class="theme-btn btn-red">Cases de sucesso</a>
                                            <i class="flaticon-stats"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="homeloan">
                            <div class="tab-inner">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <img src="assets/images/home-04.jpg" class="image-fit" alt="">
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="right-side">
                                            <p class="double-lines fw-500 text-red mb-1"><span>Segurança local</span></p>
                                            <h3 class="fw-600"><a href="#">Brain Storm é uma empresa de segurança de TI, precisa de suporte e consultoria, chama nóis. (vou tirar isso, kkk)</a></h3>
                                            <p class="fw-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                                            <a routerLink='/project-detail' class="theme-btn btn-red">Cases de sucesso</a>
                                            <i class="flaticon-credit"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="banking">
                            <div class="tab-inner">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <img src="assets/images/home-04.jpg" class="image-fit" alt="">
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="right-side">
                                            <p class="double-lines fw-500 text-red mb-1"><span>Pagamentos</span></p>
                                            <h3 class="fw-600"><a href="#">Brain Storm é uma empresa de segurança de TI, precisa de suporte e consultoria, chama nóis. (vou tirar isso, kkk)</a></h3>
                                            <p class="fw-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                                            <a routerLink='/project-detail' class="theme-btn btn-red">Cases de sucesso</a>
                                            <i class="flaticon-payment-method"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="jobfeed">
                            <div class="tab-inner">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <img src="assets/images/home-04.jpg" class="image-fit" alt="">
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="right-side">
                                            <p class="double-lines fw-500 text-red mb-1"><span>Empresas</span></p>
                                            <h3 class="fw-600"><a href="#">Brain Storm é uma empresa de segurança de TI, precisa de suporte e consultoria, chama nóis. (vou tirar isso, kkk)</a></h3>
                                            <p class="fw-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                                            <a routerLink='/project-detail' class="theme-btn btn-red">Cases de sucesso</a>
                                            <i class="flaticon-suitcase"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="counsultancy">
                            <div class="tab-inner">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <img src="assets/images/home-04.jpg" class="image-fit" alt="">
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="right-side">
                                            <p class="double-lines fw-500 text-red mb-1"><span>Counsultoria</span></p>
                                            <h3 class="fw-600"><a href="#">Brain Storm é uma empresa de segurança de TI, precisa de suporte e consultoria, chama nóis. (vou tirar isso, kkk)</a></h3>
                                            <p class="fw-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                                            <a routerLink='/project-detail' class="theme-btn btn-red">Cases de sucesso</a>
                                            <i class="flaticon-presentation"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-header left-heading">
                    <div class="section-heading">
                        <h6 class="text-red mb-xl-10 sub-heading"><span>Porque  nos escolher</span></h6>
                        <h3 class="fw-700 title">Veja nossos diferenciais<span class="text-red">.</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-lg-right mb-xl-30">
                <a href="#" class="theme-btn btn-red">Contato</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="choose-us-box mb-md-30">
                    <div class="top-sec">
                        <div class="icon">
                            <i class="flaticon-statistics text-red"></i>
                        </div>
                        <h4 class="fw-600 no-margin"><a routerLink='/service-detail'>Consultoria Digital</a></h4>
                    </div>
                    <p class="fw-500 mb-xl-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nim ad minim veniam. </p>
                    <a routerLink='/service-detail' class="fw-600 fs-14 link">Leia mais <i class="fas fa-long-arrow-right text-red"></i></a>
                    <i class="flaticon-statistics bg-icon"></i>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="choose-us-box mb-md-30">
                    <div class="top-sec">
                        <div class="icon">
                            <i class="flaticon-market text-red"></i>
                        </div>
                        <h4 class="fw-600 no-margin"><a routerLink='/service-detail'>Pesquisas</a></h4>
                    </div>
                    <p class="fw-500 mb-xl-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nim ad minim veniam. </p>
                    <a routerLink='/service-detail' class="fw-600 fs-14 link">Leia mais <i class="fas fa-long-arrow-right text-red"></i></a>
                    <i class="flaticon-market bg-icon"></i>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="choose-us-box">
                    <div class="top-sec">
                        <div class="icon">
                            <i class="flaticon-investment text-red"></i>
                        </div>
                        <h4 class="fw-600 no-margin"><a routerLink='/service-detail'>Produtividade</a></h4>
                    </div>
                    <p class="fw-500 mb-xl-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nim ad minim veniam. </p>
                    <a routerLink='/service-detail' class="fw-600 fs-14 link">Leia mais <i class="fas fa-long-arrow-right text-red"></i></a>
                    <i class="flaticon-investment bg-icon"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light section-padding faqs-style-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-7">
                <div class="images-box mb-md-80">
                    <img src="assets/images/home-05.jpg" class="image-fit image-1" alt="">
                    <img src="assets/images/home-06.jpg" class="image-fit image-2" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-5">
                <div class="left-side">
                    <div class="section-header left-heading">
                        <div class="section-heading">
                            <h6 class="text-red mb-xl-10 sub-heading"><span>FAQ</span></h6>
                            <h3 class="fw-700 title">Você tem que saber antes de começar tudo.<span class="text-red">.</span></h3>
                        </div>
                    </div>
                    <div id="accordion" class="custom-faqs style-2">
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
                                    Como proteger meus dados?
                                    <span>
                                        <i class="fal fa-arrow-down"></i>
                                    </span>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                    Como proteger meus dados?
                                    <span>
                                        <i class="fal fa-arrow-down"></i>
                                    </span>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                    Como proteger meus dados?
                                    <span>
                                        <i class="fal fa-arrow-down"></i>
                                    </span>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding growth-sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-header left-heading pb-0 mb-md-40">
                    <div class="section-heading">
                        <h6 class="text-red mb-xl-10 sub-heading"><span>Nosso crescimento</span></h6>
                        <h3 class="fw-700 title">Veja nosso volume de clientes atendidos<span class="text-red">.</span></h3>
                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="bar-chart" class="full-height"></div>
                <ul class="custom-flex chart-label">
                    <li>
                        <span></span>
                        Outros
                    </li>
                    <li>
                        <span></span>
                        Nossa empresa
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section-padding-bottom slider-gallery-sec style-2 p-relative">
    <div class="container-fluid no-padding">
        <div class="row">
            <div class="col-12">
                <div class="slider-gallery row arrow-layout">
                    <div class="col-12 slide-item">
                        <img src="assets/images/home-07.jpg" class="image-fit" alt="">
                        <div class="gallery-text">
                            <p class="text-red mb-xl-10 fw-600 double-lines"><span>Consultoria</span></p>
                            <h3 class="fw-600"><a routerLink='/project-detail'>Seus dados</a></h3>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <img src="assets/images/home-14.jpg" class="image-fit" alt="">
                        <div class="gallery-text">
                            <p class="text-red mb-xl-10 fw-600 double-lines"><span>Consultoria</span></p>
                            <h3 class="fw-600"><a routerLink='/project-detail'>Seus dados</a></h3>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <img src="assets/images/home-15.jpg" class="image-fit" alt="">
                        <div class="gallery-text">
                            <p class="text-red mb-xl-10 fw-600 double-lines"><span>Consultoria</span></p>
                            <h3 class="fw-600"><a routerLink='/project-detail'>Seus dados</a></h3>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <img src="assets/images/home-14.jpg" class="image-fit" alt="">
                        <div class="gallery-text">
                            <p class="text-red mb-xl-10 fw-600 double-lines"><span>Consultoria</span></p>
                            <h3 class="fw-600"><a routerLink='/project-detail'>Seus dados</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding bg-light">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h6 class="text-red mb-xl-10 sub-heading"><span>Novidades</span></h6>
                <h3 class="fw-700 title">Noticias recentes<span class="text-red">.</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="blog-slider row">
                    <div class="col-lg-12 slide-item">
                        <div class="blog-style-1 style-2">
                            <div class="post-img animate-img">
                                <a routerLink='/news-detail'>
                                    <img src="assets/images/home-16.jpg" class="image-fit" alt="">
                                </a>
                            </div>
                            <div class="post-date">
                                <span class="date">17</span>
                                <span class="month">Novembro</span>
                            </div>
                            <div class="post-content">
                                <div class="post-category">
                                    <p class="double-lines text-red fw-600 mb-1"><span><a href="#" class="text-red">Dia a dia</a></span></p>
                                </div>
                                <h2 class="post-title"><a routerLink='/news-detail'>Mantenha seu dia a dia mais seguro</a></h2>
                                <ul class="custom-flex post-meta">
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-user text-red"></i>
                                            Luizito A.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-calendar-alt text-red"></i>
                                            17 de Novembro 2021
                                        </a>
                                    </li>
                                </ul>
                            </div>
                           
                            <div class="post-overlay normal-bg" style="background-image: url('assets/images/home-16.jpg');">
                                <div class="post-overlay-meta">
                                    <div class="post-category">
                                        <p class="double-lines text-custom-white fw-600 mb-1"><span><a href="#" class="text-custom-white">Segurança</a></span></p>
                                    </div>
                                    <h2 class="post-title"><a routerLink='/news-detail' class="text-custom-white">Venha conhecer umas dicas</a></h2>
                                    <ul class="custom-flex post-meta">
                                    <li>
                                        <a href="#" class="text-custom-white">
                                            <i class="fal fa-user text-custom-white"></i>
                                            Luizito
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-custom-white">
                                            <i class="fal fa-calendar-alt text-custom-white"></i>
                                            17 de Novembro 2021
                                        </a>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 slide-item">
                        <div class="blog-style-1 style-2">
                            <div class="post-img animate-img">
                                <a routerLink='/news-detail'>
                                    <img src="assets/images/home-08.jpg" class="image-fit" alt="">
                                </a>
                            </div>
                            <div class="post-date">
                                <span class="date">18</span>
                                <span class="month">Novembro</span>
                            </div>
                            <div class="post-content">
                                <div class="post-category">
                                    <p class="double-lines text-red fw-600 mb-1"><span><a href="#" class="text-red">Segurança</a></span></p>
                                </div>
                                <h2 class="post-title"><a routerLink='/news-detail'>Exploração de dados aumenta no Brasil</a></h2>
                                <ul class="custom-flex post-meta">
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-user text-red"></i>
                                            André
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-calendar-alt text-red"></i>
                                            18 de Novembro de 2021
                                        </a>
                                    </li>
                                </ul>
                            </div>
                           
                            <div class="post-overlay normal-bg" style="background-image: url('assets/images/home-08.jpg');">
                                <div class="post-overlay-meta">
                                    <div class="post-category">
                                        <p class="double-lines text-custom-white fw-600 mb-1"><span><a href="#" class="text-custom-white">Segurança</a></span></p>
                                    </div>
                                    <h2 class="post-title"><a routerLink='/news-detail' class="text-custom-white">Descubra já como se proteger</a></h2>
                                    <ul class="custom-flex post-meta">
                                    <li>
                                        <a href="#" class="text-custom-white">
                                            <i class="fal fa-user text-custom-white"></i>
                                            André
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-custom-white">
                                            <i class="fal fa-calendar-alt text-custom-white"></i>
                                            18 de Novembro de 2021
                                        </a>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 slide-item">
                        <div class="blog-style-1 style-2">
                            <div class="post-img animate-img">
                                <a routerLink='/news-detail'>
                                    <img src="assets/images/home-17.jpg" class="image-fit" alt="">
                                </a>
                            </div>
                            <div class="post-date">
                                <span class="date">20</span>
                                <span class="month">Novembro</span>
                            </div>
                            <div class="post-content">
                                <div class="post-category">
                                    <p class="double-lines text-red fw-600 mb-1"><span><a href="#" class="text-red">Alertas</a></span></p>
                                </div>
                                <h2 class="post-title"><a routerLink='/news-detail'>Novo Ransonware é criado e ataca grandes empresas</a></h2>
                                <ul class="custom-flex post-meta">
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-user text-red"></i>
                                            Luizinho
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-calendar-alt text-red"></i>
                                            20 de Novembro de 2021
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="post-overlay normal-bg" style="background-image: url('assets/images/home-17.jpg');">
                                <div class="post-overlay-meta">
                                    <div class="post-category">
                                        <p class="double-lines text-custom-white fw-600 mb-1"><span><a href="#" class="text-custom-white">Alertas</a></span></p>
                                    </div>
                                    <h2 class="post-title"><a routerLink='/news-detail' class="text-custom-white">Fique atento já!</a></h2>
                                    <ul class="custom-flex post-meta">
                                    <li>
                                        <a href="#" class="text-custom-white">
                                            <i class="fal fa-user text-custom-white"></i>
                                            Luizinho
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-custom-white">
                                            <i class="fal fa-calendar-alt text-custom-white"></i>
                                            18 de Novembro de 2021
                                        </a>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-contact></app-contact>

<app-footer></app-footer>